.jumbotron {
	background-image: url(https://img.freepik.com/foto-gratis/fondo-textura-pared-ladrillo-exterior_136930-267.jpg?size=626&ext=jpg);
	font-family: sans-serif;
	text-shadow: 2px -1px 2px #CCC;
	color: black;

}
footer{
	box-shadow: inset 0 30 20px black;
	text-shadow: -1px 2px 0px white;
	padding: 10px 10px 0 10px;
	
	margin-bottom: 0px;
	margin-top: 10px
	color blue; 
}


.card-hotel {
	flex: 1 200px;
	padding: 2px 5px 2px 5px;
	margin-top: 10px;
	margin-left: 30px;
	margin-right: 10px;
	justify-content: 100px;
	/*color:blue; 
   font-size:12px;
   font-family:Arial;
   font-weight:bold;


   border-width:2px;
   border-color:blue;
   border-style:solid;
*/
}


.btn-reserva{
	
	width: 100%;
	border-radius: 0px;
	
}
.tab-content{
	padding-top: 10px;
}

/*
	background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSyciscneXerGwg0LMvw-5CJjXdDr3DAZpTWw&usqp=CAU);
}
.footer-address-icon {

	padding-right: 10px;
}

.full{

  border:1px solid #999999;
  width: 100%;
  margin:5px 0;
  padding:3px;

}*/
