$yellow: #25250c;


@mixin margenes ($top, $bottom){
    margin-top: $top;
    margin-bottom: $bottom;    
}
.jumbotron{
    background-color: $yellow;
    color: black;
    @include margenes(50px, 0px);
}

footer{
    padding: 10px 10px 0px 10px;
    background-color: #fffa19;
        @include margenes(50px, 0px);

}
.card-hotel{
    flex: 1 200px;
    margin-top: 10px;
    margin-bottom: 0px;
}
.btn-reserva{
    width: 100%;
    border-radius: 0px;
}
.footer-addres-icon{
    padding-right: 10px;
}
.tab-content{
    padding-top: 10px;
}

